@{ ViewData["Title"] = "Home Page";
                Layout = "_LayoutLogin"; }



<div class="container">
    <div class="img">
        <img src="/img/pc.svg" />
    </div>
    <div class="login-container">
        <form method="post" action="/Employees/Auth">
            <img class="avator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSq_I0JFO2DxoAV3J-sI7ajtx0qW0Q5neaY_A&usqp=CAU" />
            <h2>Join us</h2>
            <div class="input-div" one>
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div>
                    <h5>Email</h5>
                    <input name="Email" id="Email" class="input" type="text" />
                </div>
            </div>
            <div class="input-div" two>
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div>
                    <h5>password</h5>
                    <input name="Password" id="Password" class="input" type="password" />
                </div>
            </div>
            <a href="#">Forgot password ?</a>
            <input type="submit" class="btn" value="Login" />
        </form>
    </div>
</div>
<footer>
    Copyright © 2021 - All rights Reserved -
</footer>